@import "tailwindcss";


:root {
  /* Definisikan variabel tema disini agar bisa dibaca oleh Tailwind config (jika disetting) atau inline */
  --font-sans: var(--font-space);
  --font-serif: var(--font-cormorant)
  --font-mono: var(--font-mono);
  
    --background: #050505;
    --foreground: #ededed;
    --accent: #3b82f6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

/* Selection Color yang elegan */
::selection {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}

/* Scrollbar Modern */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

/* Utility untuk hiding scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}